p{
    font-size: 1.2vw;
    max-width: 700px;
    text-align: center;
    padding-top: 30px;
    margin: 0 auto;
}
h1{
    font-size: 2.5vw;
    text-align: center;
    padding-top: 5vw;
    
}

h3{
    font-size: 1.5vw;
    text-align: center;
    padding-top: 2vw;
    
}

h2{
    font-size: 1.2vw;
    text-align: center;
    padding-top: 2vw;
    max-width: 700px;
    margin: 0 auto;
    font-weight: normal;
    
}
.footer{
    background-color: #f5f5f5;
    height: 60px;
    position: fixed;
    width: 100%;
    top: 90%;
}
