p{
    font-size: 1.2vw;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
h1{
    font-size: 2.5vw;
    text-align: center;
    padding-top: 5vw;
    
}

h3{
    font-size: 1.5vw;
    text-align: center;
    padding-top: 2vw;
    
}

h2{
    font-size: 1.2vw;
    text-align: center;
    padding-top: 2vw;
    max-width: 700px;
    margin: 0 auto;
    font-weight: normal;
    
}
